<footer>
    <div class="footer_section">
<!--        style="margin-top: 60px;"-->
        <div class="contact_information_section">
            <div class="contact_information">Контактная информация:</div>
            <ul class="contact_data">
                <li>
                    <div class="contact_phone">
                        <i class="fas fa-phone"></i>
                        <div>Телефон: <span style="font-weight: bold">666-66-66</span></div>
                    </div>
                </li>
                <li>
                    <div>E-mail: WorldOfMatrasses@mail.ru</div>
                </li>
            </ul>
        </div>
        <div class="load_time_section">
            <div class="load_time_information">Время загрузки страницы:</div>
            <div style="font-size: 18px;" id="load_time"></div>
        </div>
    </div>
</footer>