<div class="second_line">
    <div class="site_title">Мир матрасов</div>

    <div class="city">
        <div class="cities">Города &bigtriangledown;</div>
        <ul class="dropdown-content">
            <li><a class="city_menu_option" href="#">Санкт-Петербург</a></li>
            <li><a class="city_menu_option" href="#">Москва</a></li>
            <li><a class="city_menu_option" href="#">Воронеж</a></li>
        </ul>
    </div>
    <div class="search">
        <div class="icon">
            <i class="fas fa-search"></i>
        </div>
        <input type="text" placeholder="Поиск" class="search_field"></input>
    </div>
    <a href="/form/form" class="form">Заполнить форму</a>
</div>