<nav class="sections">
    <a href="/types_of_mattresses_pages/recommended_mattresses_page"
       class="second_line_navigation_button" id='recommended'>Рекомендуемые</a>
    <a href="/types_of_mattresses_pages/springless_mattresses_page"
       class="second_line_navigation_button" id='springless'>Беспружинные</a>
    <a href="/types_of_mattresses_pages/children_mattresses_page"
       class="second_line_navigation_button" id='children'>Десткие матрасы</a>
    <a href="/types_of_mattresses_pages/bonel_spring_unit_mattresses_page"
       class="second_line_navigation_button" id='bonel'>С зависимым пружинным блоком Боннель</a>
    <a href="/types_of_mattresses_pages/independent_spring_unit_mattresses_page"
       class="second_line_navigation_button" id='independent_spring'>С независимым блоком пружин</a>
    <a href="/types_of_mattresses_pages/major_league_mattresses_page"
       class="second_line_navigation_button" id='major_league'>Высшая лига</a>
</nav>