.contact_information_section, .load_time_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #C562FF;
  border-radius: 2px;
  padding: 3px;
}

.contact_information, .load_time_information {
  font-size: 20px;
  font-weight: bold;
}

.load_time_information {
  margin-bottom: 10px;
}

.contact_data {
  display: flex;
  flex-direction: column;
}

.contact_phone {
  display: flex;
  justify-content: space-between;
  width: 68%;
  margin-bottom: 10px;
}

.footer_section {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  position: absolute;
}

#load_time {
  text-align: center;
}
