
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Online mattress store">
    <mate name="keywords" content="HTML">
    <meta name="author" content="Vadim Fedotov">
    <link href="/style_sheets/body_style.css" rel="stylesheet">
    <link href="/style_sheets/head_first_line_style.css" rel="stylesheet">
    <link href="/style_sheets/head_second_line_style.css" rel="stylesheet">
    <link href="/style_sheets/footer_style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <%- include('../templates/page_load_time_script.ejs') %>
      <%- include('../templates/notifications.ejs') %>
    <title>Интернет магазин матрасов</title>
  </head>
  <body>
  <header>
    <%- include('../templates/header_first_line.ejs') %>
  </header>
      <main>
        <div class="sign_form_container">
        <form id='sign_in_form' class="sing_in">
          <div class="sign_in_title">Вход</div>
          <input class="sign_in_input" type="text" id="sign_in_login" name="login" placeholder="Логин">
          <input class="sign_in_input" type="password" id="sign_in_password" name="password" placeholder="Пароль">
          <button class="sign_in_input" type="submit" id="sign_in">Войти</button>
          <div id="loading_icon_for_sign_in" style="display: none;">
            <i id='sign_in_load_icon' class="fas fa-spinner fa-spin"></i>
          </div>
        </form>
      </div>
        <div class="body_footer_line"></div>
      </main>
  <script>
    document.getElementById('sign_in_form').addEventListener('submit', function(event) {
      event.preventDefault();

      const loadingIcon = document.getElementById(`loading_icon_for_sign_in`);
      loadingIcon.style.display = 'block';

      let login_value = String(document.getElementById('sign_in_login').value);
      let password_value = String(document.getElementById('sign_in_password').value);

      const data = {
        login: login_value,
        password: password_value
      };

      fetch(`/auth/sign_in`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      }).then(response => {
        if (!response.ok) {
          response.text().then(errorMessage => {
            const json_obj = JSON.parse(errorMessage);
            alert(json_obj.message);
          });
        }
        loadingIcon.style.display = 'none';
      });
    });
  </script>
  <%- include('../templates/footer.ejs') %>
  </body>
</html>
